h1, h2 {
    color: blue;
    text-align: center;
}

#iframe {
  position: absolute;
  left: 40%;
  top: 15%;
}

#canvas {
  border:2px solid #000000;
  display: block;
  margin: 10px;
}

#imageID_nn, #imageID_svm { 
    overflow-y: scroll;
    height: 600px;
    margin: 10px;
    padding: 10px;
    border: 1px dotted black;    
}

#imageID_nn {
  float: left;
}

#imageID_svm {
  float: right;
}

.result span {
  margin: 10px;
  font-weight: bold;
  font-size: 14px;
  color: black;
}